@model IEnumerable<CMS.ViewModels.Shipment>

@{
    ViewBag.Title = "Pending Shipment";
}

<div class="container">
    <h2 style="text-align:left;float:left;">Pending Shipment</h2>
    <hr style="clear:both;" />
    <div class="row">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Shipping ID")
                    </th>
                    <th>
                        @Html.DisplayName("User ID")
                    </th>
                    <th>
                        @Html.DisplayName("Date Depart")
                    </th>
                    <th>
                        @Html.DisplayName("Category")
                    </th>
                    <th>
                        @Html.DisplayName("Weight")
                    </th>
                    <th>
                        @Html.DisplayName("Location From")
                    </th>
                    <th>
                        @Html.DisplayName("Location To")
                    </th>
                    <th>
                        @Html.DisplayName("Status")
                    </th>
                    <th>
                        @Html.DisplayName("Update Status")
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.shippingID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.userID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.dateDepart)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.itemCategory)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.itemWeight)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.locationFrom)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.locationTo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.status)
                        </td>
                        <td>
                            @Html.ActionLink("Approve", "ApproveRequest", new { id = item.shippingID })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>